:root {
  background-color: #a5a6a7;
  font-size: 40%;
}

* {
  box-sizing: border-box;
  font-family: fantasy;
  margin: 10px;
  padding: 0;
  color: #0a0a0a;
}
p {
  font-size: 20px;
  color: black;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 1rem;
  stroke: 10px;
}

h1 {
 
  font-size: 10rem;
  color: #f099fc;
  margin-bottom: 5rem;
  text-align:center;
  box-shadow:0.1rem;
}

h1 > span {
  font-size: 0.4rem;
  font-weight: 500;
}

h2 {
  font-size: 4.2rem;
  margin-bottom: 4rem;
  font-weight: 500;
}

h3 {
  font-size: 2.8rem;
  font-weight: 500;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flx;
  justify-content: center;
  align-items: baseline;
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
}

.container > * {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}
.btn {
  font-size: 1.8rem;
  padding: 5rem 0;
  width: 50rem;
  text-align: center;
  border: 0.1rem solid #f099fc;
  margin-bottom: 5rem;
  text-decoration: none;
  color: #f099fc;
  background-color: white;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 0.2rem 0.5rem 0 #f099fc;
  font-size: 3rem;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin-bottom: 1rem;
  width: 20rem;
  padding: 1.5rem;
  font-size: 1.8rem;
  border: none;
  box-shadow: 0 0.1rem 1.4rem 0 #f099fc ;
}

input::placeholder {
  color: #aaa;
}
#highScoresList {
  list-style: none;
  padding-left: 0;
  margin-bottom: 4rem;
}

.high-score {
  font-size: 2.8rem;
  margin-bottom: 0.5rem;
}

.high-score:hover {
  transform: scale(1.025);
}

#score{

    font-size: 20px;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: normal;
    margin-right: 300px;
}

.choice-container {
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1.8rem;
  border: 0.1rem solid  #f099fc;;
  background-color: white;
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem  #f099fc;;
  transform: translateY(-0.1rem);
  transition: transform 150ms;
  background-color: #f099fc;
}

.choice-prefix {
  padding: 1.5rem 1.5rem;
  background-color: white;
  color: rgb(14, 12, 12);
}

.choice-text {
  padding: 1.5rem;
  width: 100%;
  
}

#time {
  width: 80%;
  max-height: 700px;
  font-size: 10 rem;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: normal;
}

